<div class="container">
  <div class="">
    <h3>Edit Staff</h3>
    <form #staffDetails="ngForm" (ngSubmit)="editStaff(staffDetails)">
        <div class="form-group">
            <input type="text" class="form-control" id="name"
             name="name"
             #name="ngModel"
             ngModel
             placeholder="Enter staff name"
             required
             
             [(ngModel)]="result.data.name">
            <span *ngIf="name.invalid&&name.touched" style="color: red;">Enter Valid Name</span>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email"
           name="email"
           #email="ngModel"
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
           ngModel
           [(ngModel)]="result.data.email"
           required>
           <span *ngIf="email.invalid&&email.touched" style="color: red;">Enter Valid Email</span>
        </div>
        <span title="Click here to edit staff details"><button [disabled]="!staffDetails.valid" type="submit" class="btn btn-primary">Submit</button></span>
      </form>
    </div>
</div>