<div class="container">
    <div class="">
     
        <span *ngIf="isOrdered">
        <h2>Menu</h2>
            <div  class="table table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Product Type</th>
                            <th scope="col">About</th>
                            <th scope="col">Product Price</th>
                            <!-- <th scope="col">Quan</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of result.data">
                            <td>{{r.name | titlecase}}</td>
                            <td>{{r.type | titlecase}}</td>
                            <td>{{r.about | titlecase}}</td>
                            <td>{{r.price | currency:'INR'}}</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
                 
        <h2>Customer Details</h2>
        <form #orderDetails="ngForm" (ngSubmit)="createOrder(orderDetails)">
            <div class="row">
                <div class="formg-group col-md-4">
                    <input type="text" class="form-control" id="name"
                    name="customerName"
                    #customerName="ngModel"
                    ngModel
                    placeholder="Enter customer name"
                    required
                    minlength="3"
                    maxlength="20">
                    <span class="alert" *ngIf="customerName.invalid&&customerName.touched" style="color: red;">Enter Valid Name</span>
                </div>
             
            </div>
            <br>
            <div class="row">
                <div class="formg-group col-md-4">
                   
                    <select id="mySelect"  name="selectedOption">
                        <option *ngFor="let r of result.data" [value]="r.name">{{ r.name }}</option>
                      </select>

                    <select id="mySelect" [(ngModel)]="price"  name="totalPrice">
                        <option *ngFor="let r of result.data" [value]="r.price">{{ r.price }}</option>
                    </select>

                </div>
                
            </div>
            <br>
            <span title="Click here to submit"><button  type="submit" class="btn btn-primary">Submit</button></span>
        </form>
    </span>
        <span *ngIf="isOrderCreated" class="placed">
            <div>
                <i class="fa-solid fa-circle-check fa-xl"></i>
                <pre></pre>
                <h2 style="text-align: center; text-decoration: none;">Order Placed : {{orderid}}</h2>

                <h4>Redirects in few seconds...</h4>
            </div>
        </span>
    </div> 
</div>